In [1]:
import numpy as np
import pandas as pd

In [2]:
# pd.Series(data, index, dtype, copy)
p_series = pd.Series([1,2,3,4])
p_series

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
p_series_2 = pd.Series(7, range(5))
p_series_2

0    7
1    7
2    7
3    7
4    7
dtype: int64

In [4]:
# access series elements
p_series_2[3]

7

In [5]:
p_series_3 = pd.Series(np.random.randint(1, 150, 20))
p_series_3

0       1
1     122
2      47
3     135
4      94
5      41
6      83
7      88
8     118
9      56
10     60
11     69
12    103
13     29
14     93
15     53
16    102
17     52
18     53
19     81
dtype: int32

In [6]:
# description of series data stucture

p_series_3.describe()

count     20.000000
mean      74.000000
std       33.838626
min        1.000000
25%       52.750000
50%       75.000000
75%       96.000000
max      135.000000
dtype: float64

In [7]:
p_series_3.head(7)

0      1
1    122
2     47
3    135
4     94
5     41
6     83
dtype: int32

In [8]:
p_series_3.tail(3)

17    52
18    53
19    81
dtype: int32

In [9]:
# custom index 

p_series_4 = pd.Series([1,2,3], index=['a', 'b', 'c'])
p_series_4

a    1
b    2
c    3
dtype: int64

In [10]:
p_series_4['c']

3

In [11]:
# if index is valid string then we can use it as attribute and access element

p_series_4.a    # dot operator

1

In [12]:
# if we use dictionary as data in series (keys become index values)

p_series_5 = pd.Series({'one':1, 'two':2, 'three':3})
p_series_5

one      1
two      2
three    3
dtype: int64

In [13]:
# strings as data in series

p_series_S = pd.Series(['mohsin', 'nimra', 'ibrahim', 'razzaqi'])
p_series_S

0     mohsin
1      nimra
2    ibrahim
3    razzaqi
dtype: object

In [14]:
# check whether a chrachter exist in strings
#contains() return a series containing bool values

p_series_S.str.contains('m')

0     True
1     True
2     True
3    False
dtype: bool

In [15]:
# upper() string method

p_series_S.str.upper()

0     MOHSIN
1      NIMRA
2    IBRAHIM
3    RAZZAQI
dtype: object

In [16]:
# we can add two series

p_series_6 = pd.Series([1,2,3], index=['apple', 'orange', 'mango'])
p_series_7 = pd.Series([4,5,6], index=['apple', 'orange', 'lemon'])

In [17]:
# NaN (not a number). it occure where index does not match

p_series_6 + p_series_7

apple     5.0
lemon     NaN
mango     NaN
orange    7.0
dtype: float64