**Data types**
1. Built-in-Dataypes
2. User defined

**Immutable.** Data types that are not changeable after assignment.

**Mutable.** Data types that are changeable after assignment.

**Built-in-Dataypes**
- None
- Numeric
- Sequences
- Sets
- Mapping

<img src="images/datatypes.png" width="600" />

In [2]:
# None

a = None
print(a)
print(type(a))

None
<class 'NoneType'>

### Numeric
##### Integer

- Integer values belong to the int class. Specifically, integers represent positive or negative whole numbers without a decimal.
- Integers have unlimited precision. There is no distinction between long and short numbers. The length depends on the computer memory.
- Binary, octal and hexadecimal number bases also evaluate to integers

In [23]:
b = 12
print(type(b))

very_long_int = 1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
print(type(very_long_int))

print(type(100011))

# Octal
print(type(0o12))

# hexadecimal
print(type(0xA))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

##### Floating-Point Numbers
- Floating-point numbers in Python are numbers defined with a decimal point. The class type is float.
- Internally, they are binary fractions, which means the number approximates the decimal counterpart. The difference between the real and the approximated value is often unnoticeable.
- Alternatively, a number with the character E followed by a number indicates scientific notation(Scientific notation belongs to the floating-point class of numbers).
- Floating-point numbers after $ 1.79×10^{308} $ evaluate to infinity. The smallest non-zero number is $5.0×10^{-324}$.

In [24]:
print(type(-1.0))

<class 'float'>

In [25]:
1.2 + 2.2

3.4000000000000004

In [31]:
print(1e2, type(1e2))
print(1E5)

100.0 <class 'float'>
100000.0

##### Complex

In [33]:
print(type(1 + 2j))
print(2j, "is", type(2j))

<class 'complex'>
2j is <class 'complex'>

### Sequence Type
Sequence types help represent sequential data stored into a single variable.
##### String
- Strings are a sequence of bytes representing Unicode characters.
- Strings in Python are arrays of characters. To access individual elements, use indexing.

##### Lists
- The -1 index prints the last element in the list. Negative indexing is especially useful for navigating to the end of a long list of members.

##### Tuples
- Python Tuples are an array of unchangeable ordered elements. Once a tuple is stored into a variable, members cannot be added or removed. A tuple allows duplicate members of any type.
- Tuples support indexing notation.
- To access parts of a tuple, use slicing notation

In [50]:
# Create a string by using double quote delimiters.
# A string delimited with double quotes is helpful for strings containing single quotes or apostrophes. 
# Alternatively, you can use escape characters

print("Python")
print("This is a string with 'single' quotes delimited by double quotes")
print("abc \"Python\" world")

# Create a string by using single quote delimiters
print('hello "world" of python')

# Create a multiline string by using triple single quote delimiters
print('''This is a multiline string
with 'single', "double" and """triple-double""" quotes
delimited with triple single quotes''')

Python
This is a string with 'single' quotes delimited by double quotes
abc "Python" world
hello "world" of python
This is a multiline string
with 'single', "double" and """triple-double""" quotes
delimited with triple single quotes

In [54]:
# Access Elements of a String

a = "moh"
a[-1]

# access part of string
a[1:]

'oh'

In [59]:
# Lists
A = [1, 2, "Bob", 3.4]
print(type(A))

<class 'list'>

In [58]:
# Make a nested list by adding a list to a list
B = [A, 2, 3, 4]
print(B)

[[1, 2, 'Bob', 3.4], 2, 3, 4]

In [61]:
# Tuples
t = ("bare", "metal", "cloud", 2.0, "cloud")
print(t, type(t))

('bare', 'metal', 'cloud', 2.0, 'cloud') <class 'tuple'>

In [62]:
t[0]

'bare'

In [63]:
t[1:-1]

('metal', 'cloud', 2.0)

### Boolean Type
- Boolean data types belong to the bool class and determine the truth value of expressions
- Booleans are a subtype of integer values.

In [64]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [65]:
print(True == 1)
print(False == 0)

True
True

### Set Type
- Sets are unordered and do not allow access to individual elements through indexing. Any duplicate values are ignored.

In [67]:
s = {1, 2, 3, 3, 3, 4}
print(s, type(s))

{1, 2, 3, 4} <class 'set'>

### Mapping Type
- Mapping data type is represented by a Python dictionary. A dictionary is a collection of data with key and value pairs belonging to the dict class.
- The key and value pairs accept any data type. To access a value in a dictionary, use the key as index

In [68]:
d = {"articles":10, "cost":2.2, True:"Okay!"}
print(d, type(d))

{'articles': 10, 'cost': 2.2, True: 'Okay!'} <class 'dict'>

In [70]:
print(d['cost'])

2.2